In [44]:
df = pd.read_csv('../data/anon.csv', encoding = "ISO-8859-1")

In [4]:
#display full value in columns and shows results without having to call "print"
pd.set_option('display.max_colwidth', 300)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [45]:
#review of data
df.head()

                   Id           AccountId                         Title Birthdate             OwnerId     CreatedDate         CreatedById LastModifiedDate    LastModifiedById SystemModstamp LastActivityDate        Location         City State How_did_you_hear_about_Elite_Meet Are_you_currently_seeking_to_join_Elite Your_transition_to_civilian_life_begin Undergrad       Undergraduate_School Undergrad_major Grad_Degree Graduate_School Grad_Degree_Type Years_of_Service Military_specialty_in_real_words Whichcourse When_did_you_graduate What_was_your_first_unit_after_grad What_locations_do_you_WANT_to_live_in Where_do_you_NOT_WANT_to_live What_would_be_your_ideal_next_job Target_Industries_Pls_pick_up_to_Three of_informational_interviews_completed of_job_formal_interviews_completed of_counting_getting_a_job_through_EM What_s_more_important_to_you How_mobile_are_you_and_your_family Current_Industry I_d_like_to_participate_in Are_you_actively_recruiting_for_a_job What_positions_are_you_recruiting_for Did_you_serve_in_the_military If_so_what_was_your_military_job                 Company Lead_RecordType
0  003f400000fo4YmAAI  001f400000dv9OEAAY  Business Development Manager       NaN  005f4000003LLH5AAO  10/31/18 14:55  005f4000003LLH5AAO      3/9/19 2:19  005f4000003LLH5AAO  4/28/20 18:24     4/28/20 0:00     New York,NY     New York    NY                          Linkedin                                     NaN                                    NaN       NaN  The College of New Jersey             NaN         NaN             NaN              NaN              NaN                              NaN         NaN                   NaN                                 NaN                                   NaN                           NaN                               NaN                                    NaN                                   NaN                                NaN                                  NaN                          NaN                                NaN          Finance                        NaN                                    No                                   NaN                            No                              NaN            Mergermarket    Professional
1  003f400000fo4YnAAI  001f400000dv9OFAAY                    Compliance       NaN  005f4000003LLH5AAO  10/31/18 14:55  005f4000003LLH5AAO     3/9/19 20:01  005f4000004IWOFAA4  4/28/20 18:24     4/28/20 0:00     New York,NY     New York    NY                          LinkedIn                                     NaN                                    NaN       NaN          Manhattan College             NaN         NaN             NaN              NaN              NaN                              NaN         NaN                   NaN                                 NaN                                   NaN                           NaN                               NaN                                    NaN                                   NaN                                NaN                                  NaN                          NaN                                NaN          Finance                        NaN                                    No                                   NaN                            No                              NaN           Ernst & Young    Professional
2  003f400000fo4YoAAI  001f400000dv9OGAAY             Founder,Principal       NaN  005f4000003LLH5AAO  10/31/18 14:55  005f4000003LLH5AAO     3/9/19 19:14  005f4000004IWOFAA4  4/28/20 18:24     4/28/20 0:00   Greensboro,NC   Greensboro    NC                        John Allen                                     NaN                                    NaN       NaN                        NaN             NaN         NaN             NaN              NaN              NaN                  Navy EOD/Diving         NaN                   NaN                                 NaN                                   NaN                           NaN                               NaN                                    NaN                                   NaN                                NaN                                  NaN                          NaN                                NaN       Consulting                        NaN                                    No                                   NaN                           Yes                              NaN  Agility Consulting,LLC    Professional
3  003f400000fo4YpAAI  001f400000dv9OHAAY     Founder,Managing Director       NaN  005f4000003LLH5AAO  10/31/18 14:55  005f4000003LLH5AAO     3/9/19 20:15  005f4000004IWOFAA4  4/28/20 18:24     4/28/20 0:00  Studio City,CA  Studio City    CA           Jordan selleck LinkedIn                                     NaN                                    NaN       NaN           UC Santa Barbara             NaN         NaN             NaN              NaN              NaN                              NaN         NaN                   NaN                                 NaN                                   NaN                           NaN                               NaN                                    NaN                                   NaN                                NaN                                  NaN                          NaN                                NaN          Finance                        NaN                                    No                                   NaN                            No                              NaN        Backbone Capital    Professional
4  003f400000fo4YqAAI  001f400000dv9OIAAY                Vice President       NaN  005f4000003LLH5AAO  10/31/18 14:55  005f4000003LLH5AAO     3/9/19 19:56  005f4000004IWOFAA4  4/28/20 18:24     4/28/20 0:00      Sunrise,FL      Sunrise    FL                          LinkedIn                                     NaN                                    NaN       NaN          Nova Southeastern             NaN         NaN             NaN              NaN              NaN                              NaN         NaN                   NaN                                 NaN                                   NaN                           NaN                               NaN                                    NaN                                   NaN                                NaN                                  NaN                          NaN                                NaN       Healthcare                        NaN                                    No                                   NaN                            No                              NaN               PRRS Inc.    Professional

In [9]:
#change column name for ease of reference
df.rename(columns={'What_is_your_current_location__c':'Location'},inplace=True)

In [12]:
#drop uneeded columns
df.drop(['state__c','city__c'], axis=1, inplace=True)

In [16]:
#drop columns with < 2 pieces of information
df.drop(['Company_that_you_re_interested_in__c', 'Type__c'], axis=1, inplace=True)
df.drop(['Salutation'], axis=1, inplace=True)

In [22]:
#remove all "__c" at the end of column names 

def c_remover(col_name):
    if col_name.endswith('__c'):
        col_name = col_name[:-3]
        return col_name
    else:
        return col_name

In [24]:
cols = df.columns
new_cols = [c_remover(col) for col in cols]

In [25]:
cols == new_cols

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [27]:
df.columns = new_cols

In [28]:
#here we go, nice, clean column names
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1497 entries, 0 to 1496
Data columns (total 45 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Id                                       1496 non-null   object
 1   AccountId                                1496 non-null   object
 2   Title                                    236 non-null    object
 3   Birthdate                                79 non-null     object
 4   OwnerId                                  1496 non-null   object
 5   CreatedDate                              1496 non-null   object
 6   CreatedById                              1496 non-null   object
 7   LastModifiedDate                         1496 non-null   object
 8   LastModifiedById                         1496 non-null   object
 9   SystemModstamp                           1496 non-null   object
 10  LastActivityDate                         809 non-null    object
 11  Location                                 1206 non-null   object
 12  City                                     1174 non-null   object
 13  State                                    1247 non-null   object
 14  How_did_you_hear_about_Elite_Meet        758 non-null    object
 15  Are_you_currently_seeking_to_join_Elite  698 non-null    object
 16  Your_transition_to_civilian_life_begin   575 non-null    object
 17  Undergrad                                778 non-null    object
 18  Undergraduate_School                     881 non-null    object
 19  Grad_Degree                              571 non-null    object
 20  Graduate_School                          381 non-null    object
 21  Years_of_Service                         864 non-null    object
 22  Military_specialty_in_real_words         932 non-null    object
 23  Whichcourse                              850 non-null    object
 24  When_did_you_graduate                    596 non-null    object
 25  What_was_your_first_unit_after_grad      743 non-null    object
 26  What_locations_do_you_WANT_to_live_in    728 non-null    object
 27  Where_do_you_NOT_WANT_to_live            547 non-null    object
 28  What_would_be_your_ideal_next_job        669 non-null    object
 29  Target_Industries_Pls_pick_up_to_Three   721 non-null    object
 30  of_informational_interviews_completed    541 non-null    object
 31  of_job_formal_interviews_completed       515 non-null    object
 32  of_counting_getting_a_job_through_EM     620 non-null    object
 33  What_s_more_important_to_you             714 non-null    object
 34  How_mobile_are_you_and_your_family       649 non-null    object
 35  Current_Industry                         83 non-null     object
 36  I_d_like_to_participate_in               24 non-null     object
 37  Are_you_actively_recruiting_for_a_job    79 non-null     object
 38  What_positions_are_you_recruiting_for    37 non-null     object
 39  Did_you_serve_in_the_military            76 non-null     object
 40  If_so_what_was_your_military_job         23 non-null     object
 41  Undergrad_major                          833 non-null    object
 42  Grad_Degree_Type                         139 non-null    object
 43  Company                                  399 non-null    object
 44  Lead_RecordType                          696 non-null    object
dtypes: object(45)
memory usage: 526.4+ KB

In [32]:
df.iloc[:,19].value_counts()

Complete       287
In Progress    156
None           128
Name: Grad_Degree, dtype: int64

In [42]:
df.Title.value_counts()

CEO                                         15
Recruiter                                   12
President                                    7
Vice President                               5
Founder                                      5
                                            ..
Corporate Recruiting Coordinator/RC Lead     1
MAJ                                          1
Talent Acquisition Manager                   1
Pathways Recruiter                           1
Founder - Advisor                            1
Name: Title, Length: 170, dtype: int64

In [43]:
#Saving to go back to Excel to split vets from corporate sponsors
df.to_csv('../data/interim_anon.csv', header=True, index=False)