In [35]:
df = pd.read_csv('EM_anon.csv', encoding = "ISO-8859-1")

In [36]:
pd.set_option('display.max_colwidth', 300)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [37]:
df.head()

                   Id           AccountId Salutation Title Birthdate             OwnerId     CreatedDate         CreatedById LastModifiedDate    LastModifiedById SystemModstamp LastActivityDate What_is_your_current_location__c            City State How_did_you_hear_about_Elite_Meet__c Are_you_currently_seeking_to_join_Elite__c Your_transition_to_civilian_life_begin__c Undergrad__c Undergraduate_School__c Grad_Degree__c Graduate_School__c Years_of_Service__c Military_specialty_in_real_words__c                                                                     Whichcourse__c When_did_you_graduate__c What_was_your_first_unit_after_grad__c What_locations_do_you_WANT_to_live_in__c Where_do_you_NOT_WANT_to_live__c What_would_be_your_ideal_next_job__c Target_Industries_Pls_pick_up_to_Three__c Company_that_you_re_interested_in__c of_informational_interviews_completed__c of_job_formal_interviews_completed__c of_counting_getting_a_job_through_EM__c What_s_more_important_to_you__c How_mobile_are_you_and_your_family__c Current_Industry__c I_d_like_to_participate_in__c Are_you_actively_recruiting_for_a_job__c What_positions_are_you_recruiting_for__c Did_you_serve_in_the_military__c If_so_what_was_your_military_job__c  Type__c Undergrad_major__c Grad_Degree_Type__c Company__c Lead_RecordType__c state__c         city__c
0  003f400000cZ4NVAA0  001f400000bn5FoAAI        Mr.   NaN       NaN  005f4000002QF5NAAW  10/16/18 13:28  005f4000002QF5NAAW    10/17/18 6:01  005f4000002QF5NAAW  4/28/20 18:24     4/28/20 0:00                        Hyderabad       Hyderabad   NaN                                 mail                                    Veteran                             10/17/18 0:00     Complete                     MIT       Complete                MIT                  12                              asdsad  Advanced Skills Training (CCT);BUD/S (SEAL);Crewman Qualification Training (SWCC)              9/5/18 0:00                                     12                                      hyd                              hyd                             software                        Finance;Consulting                                  NaN                                        3                                     1                                       4                        Location                                     3                 NaN                           NaN                                      NaN                                      NaN                              NaN                                 NaN      NaN              Maths                 Per        NaN                NaN      NaN             NaN
1  003f400000cZo0gAAC  001f400000bn9SvAAI        NaN   NaN       NaN  005f4000003LLH5AAO  10/16/18 15:40  005f4000003LLH5AAO     3/9/19 19:14  005f4000004IWOFAA4  4/28/20 18:24     4/28/20 0:00                Virginia Beach,VA  Virginia Beach    VA                                  NaN                                        NaN                                       NaN          NaN                     NaN            NaN                NaN                 NaN                                 NaN                                                                                NaN                      NaN                                    NaN                                      NaN                              NaN                                  NaN                                       NaN                                  NaN                                      NaN                                   NaN                                     NaN                             NaN                                   NaN                 NaN                           NaN                                      NaN                                      NaN                              NaN                                 NaN      NaN                NaN                 NaN        NaN                NaN       VA  Virginia Beach
2  003f400000cZo0hAAC  001f400000bn9SwAAI        NaN   NaN       NaN  005f4000003LLH5AAO  10/16/18 15:40  005f4000003LLH5AAO    10/17/18 6:01  005f4000002QF5NAAW  4/28/20 18:24     4/28/20 0:00                              NaN             NaN   NaN                                  NaN                                        NaN                                       NaN          NaN                     NaN            NaN                NaN                 NaN                                 NaN                                                                                NaN                      NaN                                    NaN                                      NaN                              NaN                                  NaN                                       NaN                                  NaN                                      NaN                                   NaN                                     NaN                             NaN                                   NaN                 NaN                           NaN                                      NaN                                      NaN                              NaN                                 NaN      NaN                NaN                 NaN        NaN                NaN      NaN             NaN
3  003f400000cZo0iAAC  001f400000bn9SxAAI        NaN   NaN       NaN  005f4000003LLH5AAO  10/16/18 15:40  005f4000003LLH5AAO     3/9/19 19:38  005f4000004IWOFAA4  4/28/20 18:24     4/28/20 0:00                     San Diego,CA       San Diego    CA                                  NaN                                        NaN                                       NaN          NaN                     NaN            NaN                NaN                 NaN                                 NaN                                                                                NaN                      NaN                                    NaN                                      NaN                              NaN                                  NaN                                       NaN                                  NaN                                      NaN                                   NaN                                     NaN                             NaN                                   NaN                 NaN                           NaN                                      NaN                                      NaN                              NaN                                 NaN      NaN                NaN                 NaN        NaN                NaN       CA        Coronado
4  003f400000cZo0jAAC  001f400000bn9SyAAI        NaN   NaN       NaN  005f4000003LLH5AAO  10/16/18 15:40  005f4000003LLH5AAO      3/9/19 2:12  005f4000003LLH5AAO  4/28/20 18:24     4/28/20 0:00                       Houston,TX         Houston    TX                                  NaN                                        NaN                                       NaN          NaN                     NaN            NaN                NaN                 NaN                                 NaN                                                                      Q Course (SF)                      NaN                                    NaN                                      NaN                              NaN                                  NaN                                       NaN                                  NaN                                      NaN                                   NaN                                     NaN                             NaN                                   NaN                 NaN                           NaN                                      NaN                                      NaN                              NaN                                 NaN      NaN                NaN                 NaN        NaN                NaN       TX         Houston

In [38]:
df['What_is_your_current_location__c'].value_counts()

San Diego,CA             120
Virginia Beach,VA        106
New York,NY               99
Washington,DC             39
Fort Bragg,NC             28
                        ...
4431 E Angela Dr           1
Scandia,MN                 1
Melville,NY                1
Briarcliff Manor,NY        1
Huntington Station,NY      1
Name: What_is_your_current_location__c, Length: 358, dtype: int64

In [44]:
df['State'].value_counts()

CA                  212
NY                  168
VA                  159
NC                   99
TX                   80
FL                   52
WA                   48
DC                   39
GA                   37
TN                   31
CO                   30
MA                   30
IL                   27
USA                  21
NJ                   21
HI                   19
PA                   15
CT                   14
MD                   12
KY                   12
AZ                    9
Deployed              8
SC                    7
AL                    7
MI                    6
UT                    5
Germany               5
OCONUS                5
MO                    5
LA                    5
NV                    5
MN                    4
OH                    3
Japan                 3
WI                    3
NM                    3
Philippines           2
OK                    2
ME                    2
NH                    2
IN                    2
OR                    2
MS                    2
MT                    2
Netherlands           1
NY                    1
ID                    1
Singapore             1
AR                    1
United Kingdom        1
Africa                1
Italy                 1
RI                    1
Spain                 1
Korea                 1
DE                    1
 NY                   1
KS                    1
Niger                 1
Guam                  1
AK                    1
British Columbia      1
WV                    1
UAE                   1
Panama                1
Romania               1
Name: State, dtype: int64

In [45]:
df['State'] = df['State'].str.strip()

In [47]:
df['City'] = df['City'].str.strip()

In [49]:
df['What_is_your_current_location__c'] = df['What_is_your_current_location__c'].str.strip()

In [51]:
df.to_csv('test_anon.csv', header=True, index=False)